input[type="checkbox"] {
	display: none;
	/* display: block;
            opacity: 0;
            position: absolute; */
}

input[type="checkbox"]+label {
	opacity: .4;
	display: block;
	width: 50px;
	height: 50px;
	background-image:
		url('https://static.vecteezy.com/system/resources/thumbnails/001/188/194/small/heart.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all ease-in .14s;
	transform: scale(.88);
}

input[type="checkbox"]:checked+label {
	opacity: 1;
	display: block;
	width: 50px;
	height: 50px;
	background-image:
		url('https://static.vecteezy.com/system/resources/thumbnails/001/188/194/small/heart.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: scale(1);
}