@charset "UTF-8";

.info span{
	margin : 5px 0;
	display : block;
}

.name{
	font-weight : 600;
	font-size : 26px;
	margin : 4px 0;
}

.address{
	font-size : 20px;
}

.roomListWrap{
	margin : 15px 0;
}