@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container{
	text-align: center;
}

#wrap {
	width: fit-content;
	margin: 0 auto;
	padding: 150px 0 ;
}
#wrap .id{
	font-size : 40px;
	font-weight: bold
}
.title{
	font-size : 40px;
	font-weight: bold
}

button {
    margin: 20px;
}
.contents input{
  width: 392px;
  height: 45px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

#id{
	position: relative;
    border: none;
    display: inline-block;
    padding: 15px 180px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #ff5f2e;
    color: #e1eef6;
}
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-red {
    background-color: #ffffff;
    color: #000000;
}
.warning {
    display: none;
    color: red;
    font-size: 0.8em;
}