@charset "UTF-8";

.header_text{
	text-align : center;
	font-size : 2em;
	font-weight : 700;
}

.image_section{
	text-align : center;
	margin-top : 3%;
}

label{
	font-size : 1em;
	font-weight : 700;
}

input[type="submit"]{
	width: 10%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

#reserve{
	padding : 13% 0;
}

button{
	width: 8em;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    cursor : pointer;
}

.reserve_info{
	display : flex;
	justify-content : center;
	margin : 10%
}

.room_name{
	text-align : center;
	margin: 2% 0 3% 0;
    font-size: 1.5em;
    font-weight: 600;
}

.sub_title{
	width : 10em;
}

.sub_title p{
	margin : 11% 0;
	height : 25px;
}

.sub_data input{
	width : 10em;
	margin : 7% 0;
}